data_visualisation/matplotlib/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data_visualisation/matplotlib/.ipynb_checkpoints/basics-checkpoint.ipynb
awari/visualizacao_exploratoria_exercicios-master/01-exercicios-matplotlib/.ipynb_checkpoints/visualizacao_com_matplotlib-checkpoint.ipynb
deitel/chapter09/exercises/.ipynb_checkpoints/diamonds-checkpoint.ipynb
deitel/chapter09/exercises/diamonds.csv
